In [1459]:
import pandas as pd
import math
# from fancyimpute import KNN, MICE
import re
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [1460]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')
# train.Fare.hist(by=train['Survived'], bins=50)

full = pd.concat([train.drop(columns='Survived'), test], axis=0)
test_passenger_ids = test['PassengerId']

In [1461]:
print(full.isna().any())

PassengerId    False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare            True
Cabin           True
Embarked        True
dtype: bool

In [1462]:
full[full['Embarked'].isnull()]

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
61,62,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0,B28,NaN
829,830,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0,B28,NaN

In [1463]:
"""Replacing the missing values of Emabarked with S, which is the mode of the data."""

'Replacing the missing values of Emabarked with S, which is the mode of the data.'

In [1464]:
#Impute missing Embarked feature
full.Embarked.fillna('S', inplace=True)

#Convert Embarked to numerical value
full['Embarked'] = LabelEncoder().fit_transform(full['Embarked'])

In [1465]:
"""Dropping Ticket column as it doesn't seem to be useful"""
full.drop(columns=['Ticket'], inplace=True)

In [1466]:
#Add deck feature
full['Cabin'] = full['Cabin'].fillna('@') #because its ord is 1 less than 'A'

#Convert cabin to deck info
full['Deck'] = full.apply(lambda x: x.Cabin.upper()[0], axis=1)

#Convert categorial deck info to numbers
full['Deck'] = LabelEncoder().fit_transform(full['Deck'])

#Drop cabin as it is not useful now
full.drop(columns=['Cabin'], inplace=True)

In [1467]:
print(full.isna().any())

PassengerId    False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Fare            True
Embarked       False
Deck           False
dtype: bool

In [1468]:
# Add Title attribute
TITLE_REGEXP = ' [A-Za-z]+\.'

full['Title'] = full.apply(lambda row: re.search(TITLE_REGEXP, row.Name).group(0).strip(), axis=1)
# print(full['Title'].groupby(full['Title']).groups.keys())
full['Title'] = full['Title'].replace('Mlle.', 'Miss.')
full['Title'] = full['Title'].replace('Ms.', 'Miss.')
full['Title'] = full['Title'].replace('Mme.', 'Mrs.')
# print(full['Title'].groupby(full['Title']).agg('count'))

#Drop name as it is not interesting anymore
full.drop(columns=['Name'], inplace=True)
full

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Deck,Title
0,1,3,male,22.0,1,0,7.2500,2,0,Mr.
1,2,1,female,38.0,1,0,71.2833,0,3,Mrs.
2,3,3,female,26.0,0,0,7.9250,2,0,Miss.
3,4,1,female,35.0,1,0,53.1000,2,3,Mrs.
4,5,3,male,35.0,0,0,8.0500,2,0,Mr.
5,6,3,male,NaN,0,0,8.4583,1,0,Mr.
6,7,1,male,54.0,0,0,51.8625,2,5,Mr.
7,8,3,male,2.0,3,1,21.0750,2,0,Master.
8,9,3,female,27.0,0,2,11.1333,2,0,Mrs.
9,10,2,female,14.0,1,0,30.0708,0,0,Mrs.
10,11,3,female,4.0,1,1,16.7000,2,7,Miss.
11,12,1,female,58.0,0,0,26.5500,2,3,Miss.
12,13,3,male,20.0,0,0,8.0500,2,0,Mr.
13,14,3,male,39.0,1,5,31.2750,2,0,Mr.
14,15,3,female,14.0,0,0,7.8542,2,0,Miss.
15,16,2,female,55.0,0,0,16.0000,2,0,Mrs.
16,17,3,male,2.0,4,1,29.1250,1,0,Master.
17,18,2,male,NaN,0,0,13.0000,2,0,Mr.
18,19,3,female,31.0,1,0,18.0000,2,0,Mrs.
19,20,3,female,NaN,0,0,7.2250,0,0,Mrs.
20,21,2,male,35.0,0,0,26.0000,2,0,Mr.
21,22,2,male,34.0,0,0,13.0000,2,4,Mr.
22,23,3,female,15.0,0,0,8.0292,1,0,Miss.
23,24,1,male,28.0,0,0,35.5000,2,1,Mr.
24,25,3,female,8.0,3,1,21.0750,2,0,Miss.
25,26,3,female,38.0,1,5,31.3875,2,0,Mrs.
26,27,3,male,NaN,0,0,7.2250,0,0,Mr.
27,28,1,male,19.0,3,2,263.0000,2,3,Mr.
28,29,3,female,NaN,0,0,7.8792,1,0,Miss.
29,30,3,male,NaN,0,0,7.8958,2,0,Mr.
...,...,...,...,...,...,...,...,...,...,...
388,1280,3,male,21.0,0,0,7.7500,1,0,Mr.
389,1281,3,male,6.0,3,1,21.0750,2,0,Master.
390,1282,1,male,23.0,0,0,93.5000,2,2,Mr.
391,1283,1,female,51.0,0,1,39.4000,2,4,Mrs.
392,1284,3,male,13.0,0,2,20.2500,2,0,Master.
393,1285,2,male,47.0,0,0,10.5000,2,0,Mr.
394,1286,3,male,29.0,3,1,22.0250,2,0,Mr.
395,1287,1,female,18.0,1,0,60.0000,2,3,Mrs.
396,1288,3,male,24.0,0,0,7.2500,1,0,Mr.
397,1289,1,female,48.0,1,1,79.2000,0,2,Mrs.
398,1290,3,male,22.0,0,0,7.7750,2,0,Mr.
399,1291,3,male,31.0,0,0,7.7333,1,0,Mr.
400,1292,1,female,30.0,0,0,164.8667,2,3,Miss.
401,1293,2,male,38.0,1,0,21.0000,2,0,Mr.
402,1294,1,female,22.0,0,1,59.4000,0,0,Miss.
403,1295,1,male,17.0,0,0,47.1000,2,0,Mr.
404,1296,1,male,43.0,1,0,27.7208,0,4,Mr.
405,1297,2,male,20.0,0,0,13.8625,0,4,Mr.
406,1298,2,male,23.0,1,0,10.5000,2,0,Mr.
407,1299,1,male,50.0,1,1,211.5000,0,3,Mr.
408,1300,3,female,NaN,0,0,7.7208,1,0,Miss.
409,1301,3,female,3.0,1,1,13.7750,2,0,Miss.
410,1302,3,female,NaN,0,0,7.7500,1,0,Miss.
411,1303,1,female,37.0,1,0,90.0000,1,3,Mrs.
412,1304,3,female,28.0,0,0,7.7750,2,0,Miss.
413,1305,3,male,NaN,0,0,8.0500,2,0,Mr.
414,1306,1,female,39.0,0,0,108.9000,0,3,Dona.
415,1307,3,male,38.5,0,0,7.2500,2,0,Mr.
416,1308,3,male,NaN,0,0,8.0500,2,0,Mr.
417,1309,3,male,NaN,1,1,22.3583,0,0,Master.

In [1469]:
#Imputing Age data based on title
titles = full['Title'].unique()

full['Age'].fillna(-1, inplace=True)
title_median_dict = {}

for title in titles:
    median = full.Age[(full['Age'] != -1) & (full['Title'] == title)].median()
    title_median_dict[title] = median
    
for i, row in full.iterrows():
    if row['Age'] == -1:
        row['Age'] = title_median_dict[row['Title']]

full.head()
print(full.isna().any())

PassengerId    False
Pclass         False
Sex            False
Age            False
SibSp          False
Parch          False
Fare            True
Embarked       False
Deck           False
Title          False
dtype: bool

In [1470]:
#Impute missing fare data similarly to missing age data
full['Fare'].fillna(-1, inplace=True)

for i, row in full.iterrows():
    if row['Fare'] == -1:
        row['Fare'] = full[(full['Fare'] != -1) & (full['Pclass'] == row['Pclass'])].median()
print(full.isna().any())

PassengerId    False
Pclass         False
Sex            False
Age            False
SibSp          False
Parch          False
Fare           False
Embarked       False
Deck           False
Title          False
dtype: bool

In [1474]:
#Binning title info
title_mapping = {}
common_titles = ['Mr.', 'Miss.', 'Mrs.', 'Master.', 'Dr.', 'Rev.']
print(full['Title'].value_counts())

def get_title_numerical(title):
    if title in common_titles:
        return common_titles.index(title)+1
    return 7 # rare title

full['Title'] = full['Title'].apply(get_title_numerical)

Mr.          757
Miss.        264
Mrs.         198
Master.       61
Dr.            8
Rev.           8
Col.           4
Major.         2
Lady.          1
Don.           1
Dona.          1
Jonkheer.      1
Capt.          1
Sir.           1
Countess.      1
Name: Title, dtype: int64

In [1475]:
#Convert Sex to numerical
full['Sex'] = LabelEncoder().fit_transform(full['Sex'])

In [1476]:
#Add family-size feature
full['familySize'] = full.apply(lambda row: row.SibSp + row.Parch+1, axis=1)

In [1477]:
#Add alone feature
full['isAlone'] = full.apply(lambda x: 1 if x.SibSp==0 and x.Parch==0 else 0, axis =1)

In [1478]:

# colnames = x_full.columns
# print(colnames)
# print(x_full.isna().any())
# x_full = pd.DataFrame(MICE().complete(x_full))
# x_full.columns = colnames

In [1479]:
#Bin fares
bins = [-1,10,50,100,200,400,1000000]
x_full['Fare'] = np.searchsorted(bins, x_full['Fare'].values)
x_full

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Deck,Title,familySize,isAlone
0,3,1,3,1,0,1,1,10,1,2,0
1,1,0,5,1,0,1,2,3,3,2,0
2,3,0,4,0,0,1,1,10,2,1,1
3,1,0,4,1,0,1,1,3,3,2,0
4,3,1,4,0,0,1,1,10,1,1,1
5,3,1,8,0,0,1,3,10,1,1,1
6,1,1,5,0,0,1,1,5,1,1,1
7,3,1,1,3,1,1,1,10,4,5,0
8,3,0,4,0,2,1,1,10,3,3,0
9,2,0,2,1,0,1,2,10,3,2,0
10,3,0,1,1,1,1,1,7,2,3,0
11,1,0,6,0,0,1,1,3,2,1,1
12,3,1,3,0,0,1,1,10,1,1,1
13,3,1,5,1,5,1,1,10,1,7,0
14,3,0,2,0,0,1,1,10,2,1,1
15,2,0,5,0,0,1,1,10,3,1,1
16,3,1,1,4,1,1,3,10,4,6,0
17,2,1,8,0,0,1,1,10,1,1,1
18,3,0,4,1,0,1,1,10,3,2,0
19,3,0,8,0,0,1,2,10,3,1,1
20,2,1,4,0,0,1,1,10,1,1,1
21,2,1,4,0,0,1,1,4,1,1,1
22,3,0,2,0,0,1,3,10,2,1,1
23,1,1,4,0,0,1,1,1,1,1,1
24,3,0,1,3,1,1,1,10,2,5,0
25,3,0,5,1,5,1,1,10,3,7,0
26,3,1,8,0,0,1,2,10,1,1,1
27,1,1,3,3,2,1,1,3,1,6,0
28,3,0,8,0,0,1,3,10,2,1,1
29,3,1,8,0,0,1,1,10,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
388,3,1,3,0,0,1,3,10,1,1,1
389,3,1,1,3,1,1,1,10,4,5,0
390,1,1,3,0,0,1,1,2,1,1,1
391,1,0,5,0,1,1,1,4,3,2,0
392,3,1,2,0,2,1,1,10,4,3,0
393,2,1,5,0,0,1,1,10,1,1,1
394,3,1,4,3,1,1,1,10,1,5,0
395,1,0,3,1,0,1,1,3,3,2,0
396,3,1,3,0,0,1,3,10,1,1,1
397,1,0,5,1,1,1,2,2,3,3,0
398,3,1,3,0,0,1,1,10,1,1,1
399,3,1,4,0,0,1,3,10,1,1,1
400,1,0,4,0,0,1,1,3,2,1,1
401,2,1,5,1,0,1,1,10,1,2,0
402,1,0,3,0,1,1,2,10,2,2,0
403,1,1,2,0,0,1,1,10,1,1,1
404,1,1,5,1,0,1,2,4,1,2,0
405,2,1,3,0,0,1,2,4,1,1,1
406,2,1,3,1,0,1,1,10,1,2,0
407,1,1,5,1,1,1,2,3,1,3,0
408,3,0,8,0,0,1,3,10,2,1,1
409,3,0,1,1,1,1,1,10,2,3,0
410,3,0,8,0,0,1,3,10,2,1,1
411,1,0,5,1,0,1,3,3,3,2,0
412,3,0,4,0,0,1,1,10,2,1,1
413,3,1,8,0,0,1,1,10,1,1,1
414,1,0,5,0,0,1,2,3,5,1,1
415,3,1,5,0,0,1,1,10,1,1,1
416,3,1,8,0,0,1,1,10,1,1,1
417,3,1,8,1,1,1,2,10,4,3,0

In [1480]:
#Bin ages
bins = [0,12,17,25,35,55,75,120]
x_full['Age'] = np.searchsorted(bins, x_full['Age'].values)

# print(x_full.isna().any())
x_full

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Deck,Title,familySize,isAlone
0,3,1,1,1,0,1,1,10,1,2,0
1,1,0,1,1,0,1,2,3,3,2,0
2,3,0,1,0,0,1,1,10,2,1,1
3,1,0,1,1,0,1,1,3,3,2,0
4,3,1,1,0,0,1,1,10,1,1,1
5,3,1,1,0,0,1,3,10,1,1,1
6,1,1,1,0,0,1,1,5,1,1,1
7,3,1,1,3,1,1,1,10,4,5,0
8,3,0,1,0,2,1,1,10,3,3,0
9,2,0,1,1,0,1,2,10,3,2,0
10,3,0,1,1,1,1,1,7,2,3,0
11,1,0,1,0,0,1,1,3,2,1,1
12,3,1,1,0,0,1,1,10,1,1,1
13,3,1,1,1,5,1,1,10,1,7,0
14,3,0,1,0,0,1,1,10,2,1,1
15,2,0,1,0,0,1,1,10,3,1,1
16,3,1,1,4,1,1,3,10,4,6,0
17,2,1,1,0,0,1,1,10,1,1,1
18,3,0,1,1,0,1,1,10,3,2,0
19,3,0,1,0,0,1,2,10,3,1,1
20,2,1,1,0,0,1,1,10,1,1,1
21,2,1,1,0,0,1,1,4,1,1,1
22,3,0,1,0,0,1,3,10,2,1,1
23,1,1,1,0,0,1,1,1,1,1,1
24,3,0,1,3,1,1,1,10,2,5,0
25,3,0,1,1,5,1,1,10,3,7,0
26,3,1,1,0,0,1,2,10,1,1,1
27,1,1,1,3,2,1,1,3,1,6,0
28,3,0,1,0,0,1,3,10,2,1,1
29,3,1,1,0,0,1,1,10,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
388,3,1,1,0,0,1,3,10,1,1,1
389,3,1,1,3,1,1,1,10,4,5,0
390,1,1,1,0,0,1,1,2,1,1,1
391,1,0,1,0,1,1,1,4,3,2,0
392,3,1,1,0,2,1,1,10,4,3,0
393,2,1,1,0,0,1,1,10,1,1,1
394,3,1,1,3,1,1,1,10,1,5,0
395,1,0,1,1,0,1,1,3,3,2,0
396,3,1,1,0,0,1,3,10,1,1,1
397,1,0,1,1,1,1,2,2,3,3,0
398,3,1,1,0,0,1,1,10,1,1,1
399,3,1,1,0,0,1,3,10,1,1,1
400,1,0,1,0,0,1,1,3,2,1,1
401,2,1,1,1,0,1,1,10,1,2,0
402,1,0,1,0,1,1,2,10,2,2,0
403,1,1,1,0,0,1,1,10,1,1,1
404,1,1,1,1,0,1,2,4,1,2,0
405,2,1,1,0,0,1,2,4,1,1,1
406,2,1,1,1,0,1,1,10,1,2,0
407,1,1,1,1,1,1,2,3,1,3,0
408,3,0,1,0,0,1,3,10,2,1,1
409,3,0,1,1,1,1,1,10,2,3,0
410,3,0,1,0,0,1,3,10,2,1,1
411,1,0,1,1,0,1,3,3,3,2,0
412,3,0,1,0,0,1,1,10,2,1,1
413,3,1,1,0,0,1,1,10,1,1,1
414,1,0,1,0,0,1,2,3,5,1,1
415,3,1,1,0,0,1,1,10,1,1,1
416,3,1,1,0,0,1,1,10,1,1,1
417,3,1,1,1,1,1,2,10,4,3,0

In [1481]:
X_train = x_full[:891]
X_test = x_full[891:]
print(len(X_train))
print(len(X_test))
X_train.columns

891
418

Index(['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked', 'Deck',
       'Title', 'familySize', 'isAlone'],
      dtype='object')

In [1482]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier 
from sklearn.svm import LinearSVC, SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis, QuadraticDiscriminantAnalysis
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier, ExtraTreesClassifier, VotingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.metrics import accuracy_score, log_loss

classifiers = [
    KNeighborsClassifier(3),
    LinearSVC(),
    SVC(probability=True),
    DecisionTreeClassifier(),
    RandomForestClassifier(),
	AdaBoostClassifier(),
    GradientBoostingClassifier(),
    GaussianNB(),
#     LinearDiscriminantAnalysis(),
#     QuadraticDiscriminantAnalysis(),
    LogisticRegression(),
    ExtraTreesClassifier()]

v_classifiers = [
    KNeighborsClassifier(3),
#     LinearSVC(),
    SVC(probability=True),
    DecisionTreeClassifier(),
    RandomForestClassifier(n_estimators=100),
	AdaBoostClassifier(),
    GradientBoostingClassifier(),
    GaussianNB(),
#     LinearDiscriminantAnalysis(),
#     QuadraticDiscriminantAnalysis(),
    LogisticRegression(),
    ExtraTreesClassifier()]

voting_classifier = VotingClassifier(estimators=[(str(i),v_classifiers[i]) for i in range(len(v_classifiers))] , voting='soft')

sss = StratifiedShuffleSplit(n_splits=10, test_size=0.1, random_state=0)

In [1483]:
#Labels for the training and validation set
Y_train = train.Survived

In [1484]:
for train_index, val_index in sss.split(X_train, Y_train):
    x_tr, x_va = X_train.iloc[train_index], X_train.iloc[val_index]
    y_tr, y_va = Y_train.iloc[train_index], Y_train.iloc[val_index]
    
    for clf in classifiers+[voting_classifier]:
        name = clf.__class__.__name__
        print(name)
        clf.fit(x_tr, y_tr)
        predictions = clf.predict(x_va)
        acc = accuracy_score(y_va, predictions)
        if name in acc_dict:
            acc_dict[name] += acc
        else:
            acc_dict[name] = acc
            
            
for clf in acc_dict:
    acc_dict[clf] = acc_dict[clf]/10.0
    
print(acc_dict)

KNeighborsClassifier
LinearSVC
SVC
DecisionTreeClassifier
RandomForestClassifier
AdaBoostClassifier
GradientBoostingClassifier
GaussianNB
LogisticRegression
ExtraTreesClassifier
VotingClassifier

/Users/goelakas/miniconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

KNeighborsClassifier
LinearSVC
SVC
DecisionTreeClassifier
RandomForestClassifier
AdaBoostClassifier
GradientBoostingClassifier
GaussianNB
LogisticRegression
ExtraTreesClassifier
VotingClassifier

/Users/goelakas/miniconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

KNeighborsClassifier
LinearSVC
SVC
DecisionTreeClassifier
RandomForestClassifier
AdaBoostClassifier
GradientBoostingClassifier
GaussianNB
LogisticRegression
ExtraTreesClassifier
VotingClassifier

/Users/goelakas/miniconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

KNeighborsClassifier
LinearSVC
SVC
DecisionTreeClassifier
RandomForestClassifier
AdaBoostClassifier
GradientBoostingClassifier
GaussianNB
LogisticRegression
ExtraTreesClassifier
VotingClassifier

/Users/goelakas/miniconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

KNeighborsClassifier
LinearSVC
SVC
DecisionTreeClassifier
RandomForestClassifier
AdaBoostClassifier
GradientBoostingClassifier
GaussianNB
LogisticRegression
ExtraTreesClassifier
VotingClassifier

/Users/goelakas/miniconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

KNeighborsClassifier
LinearSVC
SVC
DecisionTreeClassifier
RandomForestClassifier
AdaBoostClassifier
GradientBoostingClassifier
GaussianNB
LogisticRegression
ExtraTreesClassifier
VotingClassifier

/Users/goelakas/miniconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

KNeighborsClassifier
LinearSVC
SVC
DecisionTreeClassifier
RandomForestClassifier
AdaBoostClassifier
GradientBoostingClassifier
GaussianNB
LogisticRegression
ExtraTreesClassifier
VotingClassifier

/Users/goelakas/miniconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

KNeighborsClassifier
LinearSVC
SVC
DecisionTreeClassifier
RandomForestClassifier
AdaBoostClassifier
GradientBoostingClassifier
GaussianNB
LogisticRegression
ExtraTreesClassifier
VotingClassifier

/Users/goelakas/miniconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

KNeighborsClassifier
LinearSVC
SVC
DecisionTreeClassifier
RandomForestClassifier
AdaBoostClassifier
GradientBoostingClassifier
GaussianNB
LogisticRegression
ExtraTreesClassifier
VotingClassifier

/Users/goelakas/miniconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

KNeighborsClassifier
LinearSVC
SVC
DecisionTreeClassifier
RandomForestClassifier
AdaBoostClassifier
GradientBoostingClassifier
GaussianNB
LogisticRegression
ExtraTreesClassifier
VotingClassifier
{'KNeighborsClassifier': 0.8901270334437061, 'LinearSVC': 0.8869000974498247, 'SVC': 0.9206530704805171, 'DecisionTreeClassifier': 0.9193297367178197, 'RandomForestClassifier': 0.9095850112024723, 'AdaBoostClassifier': 0.9112320809187938, 'GradientBoostingClassifier': 0.9125567203040099, 'GaussianNB': 0.8834887421982595, 'LogisticRegression': 0.8815224408514059, 'ExtraTreesClassifier': 0.9031867279919702, 'VotingClassifier': 0.9076364675555555}

/Users/goelakas/miniconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [1485]:
#We'll use the best classifer out of all the above

final_predictions = []
for clf in classifiers:
    if clf.__class__.__name__ == 'SVC':
        final_predictions = clf.predict(X_test)

In [1486]:
final_predictions

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1])

In [1487]:
final_predictions2 = [0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0]
result = pd.DataFrame()
result['PassengerId'] = test_passenger_ids
result['Survived'] = final_predictions

In [1488]:
result

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
5            897         0
6            898         1
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         1
19           911         1
20           912         0
21           913         1
22           914         1
23           915         0
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         0
391         1283         1
392         1284         1
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         0
404         1296         0
405         1297         0
406         1298         0
407         1299         0
408         1300         1
409         1301         1
410         1302         1
411         1303         1
412         1304         1
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]

In [1489]:
result.to_csv('result_9_imputing_age_and_fare_using_pclass_value.csv', index=False)